{% extends 'core/base.html' %}

{% block title %}
Detalhes do Pedido - {{ order.id }}
{% endblock %}

{% block content %}

<div class="container">
    <h4>Detalhes do Pedido - {{ order.id }}</h4>
    <h4>Produtos</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Preço</th>
          </tr>
        </thead>

        {% for item in order.items.all %}
            {% if item.product.user == request.user %}
            <tbody>
                <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.quantity }}</td>
                <td>R$ {{ item.get_total_price|floatformat:2 }}</td>
                </tr>
            </tbody>
            {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}